body {
    overflow: hidden;
}

body, textarea {
    font-family: monospace, monospace;
    background-color: #212121;
    color: #dcdcdc;
    line-height: 1.5;
}

.main {
    width: 90%;
    max-width: 720px;
    height: 90%;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.maxsize {
    width: 100%;
    height: 100%;
}

textarea {
    resize: none;
    outline: none;
    border: none;
    width: 200px;
    overflow-y: scroll;
    overflow_x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.pagewrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 200vh;
}

.scroll-down {
    transition: ease-in-out top 0.8s;
    top: -100vh;
}

.page {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.qrwrap {
    background-color: #dcdcdc;
}

.qrwrap img, .qrwrap canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: min(512px, 90vh, 90vw);
    height: min(512px, 90vh, 90vw);
}
